<div class="container mt-5">
  <div class="mb-4">
    <%= form_with(url: movies_path, method: :get, local: true, class: "d-flex align-items-center") do %>
      <div class="me-3">
        <%= select_tag :genre, options_from_collection_for_select(Genre.all.order(:name), :name, :name, params[:genre]), prompt: 'Choose a genre', class: 'form-select' %>
      </div>
      <div class="input-group me-2" style="max-width: 200px;"> <!-- Adjust the width here -->
        <input class="form-control form-control-sm" type="search" name="search" value="<%= params[:search] %>" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success btn-sm" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @movies.each_with_index do |movie, index| %>
      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <!-- Make the movie title clickable -->
            <h5 class="card-title text-center">
              <%= link_to movie.title, movie_path(movie.slug, page: params[:page], genre: params[:genre], search: params[:search]), class: "text-decoration-none" %>
            </h5>
            <p class="card-text text-left">
              <strong>Description:</strong> <%= movie.description %><br>
              <% if movie.genres.any? %>
                <% movie.genres.sort_by(&:name).each do |genre| %>
                  <span class="badge bg-secondary"><%= genre.name %></span>
                <% end %>
              <% else %>
                -
              <% end %>
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Date Released:</strong> <%= movie.date_released.strftime('%B %d, %Y') if movie.date_released %>
              </li>
              <li class="list-group-item"><strong>Country:</strong> <%= movie.country_of_origin %></li>
              <li class="list-group-item">
                <strong>Showing Start:</strong> <%= movie.showing_start.strftime('%B %d, %Y') if movie.showing_start %>
              </li>
              <li class="list-group-item">
                <strong>Showing End:</strong> <%= movie.showing_end.strftime('%B %d, %Y') if movie.showing_end %></li>
            </ul>
          </div>
        </div>
      </div>

      <% if (index + 1) % 4 == 0 %>
        </div>
        <div class="row">
      <% end %>
    <% end %>

    <div class="d-flex justify-content-center mt-4">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <% if @movies.prev_page %>
            <li class="page-item">
              <%= link_to 'Previous', movies_path(page: @movies.prev_page, genre: params[:genre], search: params[:search]), class: 'page-link' %>
            </li>
          <% else %>
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
          <% end %>

          <% start_page = [1, @movies.current_page - 2].max %>
          <% end_page = [start_page + 4, @movies.total_pages].min %>

          <% if end_page - start_page < 4 %>
            <% start_page = [1, end_page - 4].max %>
          <% end %>

          <% (start_page..end_page).each do |i| %>
            <li class="page-item <%= 'active' if @movies.current_page == i %>">
              <%= link_to i, movies_path(page: i, genre: params[:genre], search: params[:search]), class: 'page-link' %>
            </li>
          <% end %>

          <% if @movies.next_page %>
            <li class="page-item">
              <%= link_to 'Next', movies_path(page: @movies.next_page, genre: params[:genre], search: params[:search]), class: 'page-link' %>
            </li>
          <% else %>
            <li class="page-item disabled">
              <a class="page-link">Next</a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>

    </div>
    </div>