<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  <style>
      .navbar-custom {
          --bs-bg-opacity: 1; /* Custom Bootstrap variable for opacity */
          background-color: rgb(42, 65, 101) !important; /* Your specified blue color */
          color: white; /* Ensures text is white for contrast */
      }
  </style>
</head>

<body style="margin: 0; padding: 0;">

<nav class="navbar sticky-top navbar-expand-lg navbar-custom border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to "MOVIE REVIEW", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li><%= button_to 'Sign Out', destroy_user_session_path, class: "nav-link", method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "nav-link me-2 #{current_page?(new_user_registration_path) ? 'active' : ''}" %></li>
          <li><%= link_to "Sign In", new_user_session_path, class: "nav-link #{current_page?(new_user_session_path) ? 'active' : ''}" %></li>
        <% end %>
      </ul>

      <ul class="d-flex me-3 mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <%= link_to "Add Movie", new_movie_path, class: "btn btn-success" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div style="margin-top: 0;">
  <%= yield %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
